<div style="display: flex; flex-direction: row; justify-content: space-between; flex-wrap: wrap;">
    <button id="sortByItem" class="custom-button-sort whiteText" type="button">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div>Sort by</div>
            <div>Item</div>
        </div>
    </button>&nbsp;
    <button id="sortByDate" class="custom-button-sort whiteText" type="button">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div>Sort by</div>
            <div>Date</div>
        </div>
    </button>&nbsp;
    <button id="sortByMeal" class="custom-button-sort whiteText" type="button">
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div>Sort by</div>
            <div>Meal</div>
        </div>
    </button>
</div>