  <footer>
    <nav>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <a href="index.html">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <div>🍎</div>
            <div style="font-size: .6em">This Week</div>
          </div>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="allMeals.html" id="allMealsBtn">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <div>🥗</div>
            <div style="font-size: .6em">All Meals</div>
          </div>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="groceries.html" id="allGroceriesBtn">
          <div style="display: flex; flex-direction: column; align-items: center;">
            <div>🗒️</div>
            <div style="font-size: .6em">Grocery List</div>
          </div>
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <a href="login.html">⚙️</a>
      </div>
      
    </nav>
  </footer>