        <nav>
            <div style="display: flex; flex-direction: row;  flex-wrap: wrap;">
              <a href="addMeal.html" id="addMealNav">
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <div>➕</div>
                  <div style="font-size: .6em">Add Meal</div>
                </div>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="addGroceryItem.html" id="addGroceryItemNav">
                <div style="display: flex; flex-direction: column; align-items: center;">
                  <div>➕</div>
                  <div style="font-size: .6em">Add Grocery</div>
                </div>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <div id="expandHeader"></div>
            </div>
        </nav>
